// Fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500);
@import url(https://fonts.googleapis.com/css?family=Archivo+Black);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

// Variables
@import "variables";

$primary: desaturate(#5831cc, 20%);

// Bulma
@import "node_modules/bulma/bulma.sass";
@import "front-page.scss";

@import "node_modules/pikaday/css/pikaday";

*,
body,
*:after {
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

.is-title,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
    font-family: 'Montserrat', sans-serif;
}

h1,
.content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    line-height: 1.5em;
    margin-bottom: 0;
    position: relative;

    & > span {
        line-height: 1em;
    }
}

h2, .title.is-2 {
    font-size: $size-2 * .75;
    margin-bottom: .5em;

    .fa {
        font-size: $size-2 * 2;
        margin-right: .1em;
    }
}

h3 {
    font-size: $size-3 * .75;
    margin-bottom: .3em;
}

.is-bold {
    font-weight: bold;
}

.is-label {
    margin-right: .3em;
}

.button {
    &.is-wide {
        height: auto;
        padding: .75em 0;
        width: 100%
    }

    &.is-orange {
        background-color: #f46b34;
        color: #fff;
    }
}

.control.is-grouped.has-text-centered {
    justify-content: center;
}

@include desktop {
    td.is-skinny {
        white-space: nowrap;
        width: 1%;
    }
}

body {
    background-color: $body-bg;
    background-image: url('../images/body-background.jpg');
    background-size: cover;
    color: $text-color;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    min-height: 100vh;

    &.has-top-navbar {
        padding-top: 4.05em;
    }
}

.sidebar {
    background-color: $navbar-default-bg;
    color: #ddd;
    min-height: 100vh;
    padding: 2em 0;
    width: 280px;

    .title {
        color: #fff;

        .alt-color {
            color: #4ee559;
        }
    }

    nav {
        margin-top: 4em;
    }

    li ul {
        background-color: #444;
        border: 0;
        font-size: .9em;
        margin: 0;
        padding: 0;

        a {
            padding-left: 3em;
        }
    }

    a {
        color: #eee !important;
        font-size: 1.25em;
        padding: .8em 2em;

        &.is-active,
        &:hover {
            background-color: $primary !important;
        }
    }
}

.menu-list {
    .icon {
        margin-right: .4em;
        margin-top: -2px;
    }
    .separator {
        background-color: #595959;
        height: 1px;
        margin: 2em auto;
        width: 75%;
    }
}

.nav {
    background-color: $navbar-default-bg;
    left: 50%;
    margin: 0 auto;
    min-height: 58px;
    padding: .25em 1em;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 100%;

    &, a {
        color: $white;
    }

    a:hover {
        color: $primary;
    }

    li + li {
        margin-top: 0 !important;
    }

    .dropdown-menu {
        // margin: 5px 0;

        .button {
            background-color: #242424;
            border: 0;
            color: $white;
        }

        .menu {
            border: 0;
            margin-top: 5px;
            transform: translateX(-63%);
        }

        a {
            padding: 1em 3em;
        }

        a:hover {
            background-color: #242424;
        }
    }
}

.nav-brand {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
}

p {
    margin-bottom: 1em;
}

.level-align-top {
    align-self: flex-start;
}

.level-align-bottom {
    align-self: flex-end;
}

.panel h2,
.panel h3,
.panel table {
    margin-bottom: 0;
}

.main-container {
    background-color: $panel-default-main-content;
    padding: 1em 2em;

    section {
        padding: 3em 0;
    }

    section:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }
}

.small-container {
    background-color: rgba(255, 255, 255, .95);
    // color: $white;
    margin: 0 auto;
    max-width: 400px;
    // overflow: hidden;
    padding: 2em;
    position: relative;
    top: 10vh;

    h2 {
        text-align: center;

        .fa {
            color: $primary;
        }
    }

    .button {
        background-color: $primary;
        border-color: lighten($primary, 15%);
        color: $white;
    }
}

.ticket-listing {
    cursor: pointer;
    clear: both;
    margin-bottom: 1.5em;

    @include clearfix();

    &:hover {
        background-color: lighten($primary, 50%);

        .controls {
            visibility: visible;
        }
    }

    .controls {
        visibility: hidden;
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid #ddd;
        padding-bottom: 0;
    }
}

.fa.is-big {
    font-size: 2.5em;
    height: 40px;
    width: 40px;
}

.icon.is-extra-large {
    display: inline-block;
    font-size: 60px;
    height: 5.5rem;
    line-height: 5.5rem;
    text-align: center;
    vertical-align: top;
    width: 5.5rem;
}

.icon-box {
    background-color: $primary;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    padding: 0;
    text-align: center;

    &,
    a {
        color: $white;
    }

    a {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 145px;
        padding: 2em 1em 1em;
    }

    &:hover {
        background-color: darken($primary, 10%);
    }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.tab-panes {
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    margin-bottom: 1em;
    margin-top: -1.5em;
    padding: 1em;
}

.level-left,
.level-right,
.level-item {
    max-width: 100%;
}

.pagination {
    margin-bottom: 1em;

    li {
        display: inline-block;
        list-style: none;
    }
}

// =================================

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

.fade-out {
    animation: 1s fadeOut both ease;
}

form .status-indicator {
    align-items: center;
    background-color: rgba(255, 255, 255, .8);
    display: none;
    font-size: 1.25em;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    padding-bottom: 1em;
    left: 0;
    text-align: center;
    top: 0;
    transition: background-color 2s ease;
    width: 100%;
    z-index: 9010;
}

.status-message p {
    margin-bottom: 1em;
}

form.is-submitting .status-indicator,
form.has-message .status-indicator,
form.has-message .status-indicator,
form.has-message .status-indicator {
    animation: 1s fadeIn both ease;
    display: flex;

}

form .status-message {
    display: none;
    padding: 3em 0 2.5em;
    width: 100%;
}

form.is-submitting .status-submitting,
form.had-successful-submit .status-successful,
form.had-unsuccessful-submit .status-unsuccessful,
form.had-error-submit .status-error {
    display: block;
}

form.had-successful-submit .status-indicator,
form.had-unsuccessful-submit .status-indicator {
    animation: 1s fadeOut both ease;
    animation-delay: 2s;
}

form.had-successful-submit .status-message {
    background-color: rgba($brand-success, .8);
    color: $white;
    transition: background-color 1.5s ease;
}

form.had-unsuccessful-submit .status-message {
    background-color: rgba($brand-warning, .8);
    color: $white;
    transition: background-color 1.5s ease;
}

form.had-error-submit .status-message {
    background-color: rgba($brand-danger, .8);
    color: $white;
    transition: background-color 1.5s ease;
}

.status-message .fa-inverse {
    font-size: .8em;
    margin-top: -1px;
}

.status-successful .fa-inverse {
    color: rgb(5, 255, 40);
}

.status-unsuccessful .fa-inverse {
    color: rgb(255, 163, 5);
    font-size: .6em;
    margin-top: -2px;
}

.status-error .fa-inverse {
    color: rgb(255, 5, 40);
}

form.had-error-submit .status-error {
    display: block;
}

.help {
    font-size: .9em;
}

.notification {
    margin-top: -150px;
    transition: margin-top 600ms cubic-bezier(.55, .085, .68, .53);
    
    &.is-active {
        margin-top: 0;
        transition: margin-top 600ms cubic-bezier(.55, .085, .68, .53);
    }
}

.icon {
    &.is-green {
        border-color: $green;
        color: $green;
    }

    &.is-red {
        border-color: $red;
        color: $red;
    }

    &.is-circled {
        border-radius: 16px;
        border-style: dotted;
        border-width: 1px;
        padding: 1px 2px;
        height: 26px;
        width: 26px;
    }

    &.fa-times {
        padding-left: 3px;
    }
}

.highlight {
    background-color: $grey-lighter;
    padding: 1em 2em;
}

.grecaptcha-badge {
    z-index: 1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 3rem 4.75rem;

    ul {
        list-style: none;
        padding-left: 1em;
    }

    li {
        display: inline-block;
        padding: 0 1.5em;

        &:first-child {
            padding-left: 0;
        }

        &:not(:last-child) {
            border-right: 1px solid darken(#fff, 20%);
        }

        &:last-child {
            padding-right: 0;
        }
    }

    a {
        color: darken($white, 10%);

        &:hover {
            color: $primary;
        }
    }
}

.invoice-items {
    $border-color: $primary;

    //font-size: 1.1em;
    margin-bottom: 2em;

    td,
    th {
        padding: 1em 1.6em;
    }

    .numeric {
        font-weight: bold;
        white-space: nowrap;

        &:not(.has-text-left):not(.has-text-right) {
            text-align: center;
        }
    }

    tr:not(.totals-row) {
        border-bottom: 2px solid #fff;
    }

    thead {
        tr {
            background-color: $primary;
        }

        th {
            color: #fff;

            &:not(.has-text-left):not(.has-text-right) {
                text-align: center;
            }
        }
    }

    tbody tr:not(.totals-row) {
        &:nth-child(odd) {
            background-color: #eee;
        }

        &:nth-child(even) {
            background-color: lighten(#eee, 4%);
        }
    }

    tr.totals-row {
        &:first-child {
            border-top: 6px double $primary;
        }

        &:not(:last-child) {
            border-bottom: 2px solid $border-color;
        }

        .invoice-note {
            font-size: .95em;
            //vertical-align: bottom;
        }

        td:not(.invoice-note) {
            font-weight: bold;
        }
    }

    tr.balance-row {
        background-color: lighten($primary, 45%);
        border-bottom: none;
        color: $primary;
        font-size: 1.1em;
        font-weight: bold;

        td.currency {
            padding-right: 1.3em;
        }
    }
}

.invoice-number {
    color: #9BA2AB;
    margin-top: .25em;
    padding: .7em 1em;
}

.invoice-details {
    min-width: 200px;
}

.invoice-items-enter-active, .invoice-items-leave-active {
    transition: all 1s;
}

.invoice-items-enter, .invoice-items-leave-to {
    opacity: 0;
    transform: translateX(-50px);
}

// ====== Mobile ======

@include mobile {
    h2 {
        text-align: center;
    }

    .sidebar {
        display: none;
    }

    .is-centered-mobile {
        text-align: center;
    }

    .is-full-width-mobile {
        width: 100%;
    }

    .button {
        height: auto;
        line-height: 1.2em;
        padding: 1em 1.5em;
        width: 100%;
    }

    .nav .dropdown-menu {
        height: 100%;
    }

    .nav .dropdown-menu .button {
        border: 0;
        height: 100%;
        margin-left: -8px;
        margin-top: -4px;
        text-align: center;
    }

    .nav .nav-toggle {
        background-color: inherit;
    }

    .icon-box {
        margin-bottom: 1em;
    }
}

// ====== Larger than mobile ======
@include tablet {
    .dropdown-menu {
        margin: 5px 0;
    }

    .sidebar {
        display: block;
    }
    
    .main-container {
        background-color: $panel-default-main-content;
        padding: 3em 4em 6em;

        // Stop titles pushing options button off screen.
        .level-left {
            max-width: 90%;
        }
    }

    .icon-box {
        min-width: 180px;
        max-width: 250px;

        a {
            height: 235px;
            padding: 3.2em 1em;
        }

        &:not(:last-child) {
            margin-right: 1.5em;
        }
    }
}

@media print {
    nav .nav-left > a,
    nav .nav-right {
        display: none;
    }
}