
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Archivo+Black);
@import url(https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css);


// Variables
@import "variables";

$primary: #21a8bd;

// Bulma
@import "node_modules/bulma/bulma.sass";

*,
body,
*:after {
    box-sizing: border-box;
}

[v-cloak] {
    display:none;
}

h1 {
    font-size: $size-1 * .75;
    margin-bottom: .7em;
}

h2, .title.is-2 {
    font-size: $size-2 * .75;
    margin-bottom: .5em;
}

h3 {
    font-size: $size-3 * .75;
    margin-bottom: .3em;
}

.is-label {
    margin-right: .3em;
}

.button.is-wide {
    height: auto;
    padding: .75em 0;
    width: 100%
}

.control.is-grouped.has-text-centered {
    justify-content: center;
}

body {
    background-color: $body-bg;
    background-image: url('../images/body-background.jpg');
    background-size: cover;
    color: $text-color;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    min-height: 100vh;

    &.has-top-navbar {
        padding-top: 4.05em;
    }
}

.nav {
    background-color: $navbar-default-bg;
    left: 50%;
    margin: 0 auto;
    min-height: 58px;
    padding: .25em 1em;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 100%;

    &, a {
        color: $white;
    }

    a:hover {
        color: $primary;
    }

    li + li {
        margin-top: 0 !important;
    }

    .dropdown-menu {
        // margin: 5px 0;

        .button {
            background-color: #242424;
            border: 0;
            color: $white;
        }

        .menu {
            border: 0;
            margin-top: 5px;
            transform: translateX(-63%);
        }

        a {
            padding: 1em 3em;
        }

        a:hover {
            background-color: #242424;
        }
    }
}

.nav-brand {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    // margin-bottom: .7em;

    .fa {
        font-size: 2.5em;
        margin-right: .1em;
    }
}

p {
    margin-bottom: 1em;
}

.panel h2,
.panel h3,
.panel table {
    margin-bottom: 0;
}

.main-container {
    background-color: $panel-default-main-content;
    padding: 1em 2em;
}

.small-container {
    background-color: rgba(255, 255, 255, .95);
    // color: $white;
    margin: 0 auto;
    max-width: 400px;
    // overflow: hidden;
    padding: 2em;
    position: relative;

    h2 {
        text-align: center;

        .fa {
            color: #21a8bd;
        }
    }

    .button {
        background-color: $primary;
        border-color: lighten($primary, 15%);
        color: $white;
    }
}

.ticket-listing {
    cursor: pointer;
    clear: both;
    margin-bottom: 1.5em;

    @include clearfix();

    &:hover {
        background-color: lighten($primary, 50%);

        .controls {
            visibility: visible;
        }
    }

    .controls {
        visibility: hidden;
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid #ddd;
        padding-bottom: 0;
    }
}

.fa.is-big {
    font-size: 2.5em;
    height: 40px;
    width: 40px;
}

.icon-box {
    background-color: $primary;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    padding: 0;
    text-align: center;

    &,
    a {
        color: $white;
    }

    a {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 145px;
        padding: 2em 1em 1em;
    }

    &:hover {
        background-color: darken($primary, 10%);
    }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.tab-panes {
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    margin-bottom: 1em;
    margin-top: -1.5em;
    padding: 1em;
}

.level-left,
.level-right,
.level-item {
    max-width: 100%;
}

.pagination {
    margin-bottom: 1em;

    li {
        display: inline-block;
        list-style: none;
    }
}

// =================================

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

.fade-out {
    animation: 1s fadeOut both ease;
}

form .status-indicator {
    align-items: center;
    background-color: rgba(255, 255, 255, .8);
    display: none;
    font-size: 1.25em;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    padding-bottom: 1em;
    left: 0;
    text-align: center;
    top: 0;
    transition: background-color 2s ease;
    width: 100%;
    z-index: 9010;
}

.status-message p {
    margin-bottom: 1em;
}

form.is-submitting .status-indicator,
form.has-message .status-indicator,
form.has-message .status-indicator,
form.has-message .status-indicator {
    animation: 1s fadeIn both ease;
    display: flex;

}

form .status-message {
    display: none;
    padding: 3em 0 2.5em;
    width: 100%;
}

form.is-submitting .status-submitting,
form.had-successful-submit .status-successful,
form.had-unsuccessful-submit .status-unsuccessful,
form.had-error-submit .status-error {
    display: block;
}

form.had-successful-submit .status-indicator,
form.had-unsuccessful-submit .status-indicator {
    animation: 1s fadeOut both ease;
    animation-delay: 2s;
}

form.had-successful-submit .status-message {
    background-color: rgba($brand-success, .8);
    color: $white;
    transition: background-color 1.5s ease;
}

form.had-unsuccessful-submit .status-message {
    background-color: rgba($brand-warning, .8);
    color: $white;
    transition: background-color 1.5s ease;
}

form.had-error-submit .status-message {
    background-color: rgba($brand-danger, .8);
    color: $white;
    transition: background-color 1.5s ease;
}

.status-message .fa-inverse {
    font-size: .8em;
    margin-top: -1px;
}

.status-successful .fa-inverse {
    color: rgb(5, 255, 40);
}

.status-unsuccessful .fa-inverse {
    color: rgb(255, 163, 5);
    font-size: .6em;
    margin-top: -2px;
}

.status-error .fa-inverse {
    color: rgb(255, 5, 40);
}

form.had-error-submit .status-error {
    display: block;
}

.help {
    font-size: .9em;
}

.notification {
    margin-top: -150px;
    transition: margin-top 600ms cubic-bezier(.55, .085, .68, .53);
    
    &.is-active {
        margin-top: 0;
        transition: margin-top 600ms cubic-bezier(.55, .085, .68, .53);
    }
}


// ====== Mobile ======

@include mobile {
    h2 {
        text-align: center;
    }

    .is-centered-mobile {
        text-align: center;
    }

    .is-full-width-mobile {
        width: 100%;
    }

    .button {
        height: auto;
        line-height: 1.2em;
        padding: 1em 1.5em;
        width: 100%;
    }

    .nav .dropdown-menu {
        height: 100%;
    }

    .nav .dropdown-menu .button {
        border: 0;
        height: 100%;
        margin-left: -8px;
        margin-top: -4px;
        text-align: center;
    }

    .nav .nav-toggle {
        background-color: inherit;
    }

    .icon-box {
        margin-bottom: 1em;
    }
}

// ====== Larger than mobile ======

@include tablet {
    .dropdown-menu {
        margin: 5px 0;
    }
    
    .main-container {
        background-color: $panel-default-main-content;
        padding: 2em 4em 4em;

        // Stop titles pushing options button off screen.
        .level-left {
            max-width: 90%;
        }
    }

    .icon-box {
        min-width: 180px;
        max-width: 250px;

        a {
            height: 235px;
            padding: 3.2em 1em;
        }

        &:not(:last-child) {
            margin-right: 1.5em;
        }
    }
}